body{
    background-color: #ecb3bd;
}
.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
    padding-top: 23px;
}
input{
    font-size: 42px;
    width: 290px;
    height: 64px;
    border-radius: 5px;
}
button{
    width: 72px;
    height: 47px;
    border-radius: 5px;
    font-size: 28px;
}
.calculator{
    display: inline-block;
    border: 2px solid #1f776b;
    border-radius: 27px;
    background-color: #b1e689c4;
    padding: 12px;
    padding-top: 25px;

}
